<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        기존
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31"
    -->

    <!-- 프로젝트의 인터넷 사용을 허가감 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/emo_in_cool"
        android:label="쿡북 웹브라우저"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@drawable/img"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exam01" android:exported="true"></activity>
        <activity android:name=".practice" android:exported="true"></activity>
        <activity android:name=".exam02" android:exported="true"></activity>
        <activity android:name=".practice02" android:exported="true"></activity>
        <activity android:name=".exam03" android:exported="true"></activity>
        <activity android:name=".practice03" android:exported="true"></activity>
        <activity android:name=".practice03_1" android:exported="true"></activity>
        <activity android:name=".exam04" android:exported="true"></activity>
        <activity android:name=".practice04_1" android:exported="true"></activity>
        <activity android:name=".exam05" android:exported="true"></activity>
        <activity android:name=".exam06" android:exported="true"></activity>
        <activity android:name=".exam06_1" android:exported="true"></activity>
        <activity android:name=".exam07" android:exported="true"></activity>
        <activity android:name=".practice07" android:exported="true"></activity>
        <activity android:name=".exam08" android:exported="true"></activity>
        <activity android:name=".exam08_1" android:exported="true"></activity>
        <activity android:name=".practice90" android:exported="true"
            android:label="간단 웹 브라우저"></activity>
    </application>

</manifest>